.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-top: 1rem; /*sa taas na part*/
    padding-bottom: 1rem;
  }
  
  .main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 1rem;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }
  